<h1>@Html.TitleForPage(T("Ny profil - fejl ved oprettelse"))</h1>

<div>
    <p>
        @T("Der er sket en fejl ved oprettelsen af din brugerprofil. <a href='http://sang-skriver.azurewebsites.net/create-new-profile'>Prøv igen</a>")
        <br/>
        @T("NB: Check venligst at den angivne emailadresse ikke findes i systemet i forvejen - kontakt evt. webmaster, Finn Vilsbæk på finnvs@gmail.com")
    </p>
</div>