<h1>@Html.TitleForPage(T("Nyt Password - email funktionsfejl"))</h1>

<div>
    <p>
        @T("Der er opstået en fejl ved afsendelsen af email - kontakt evt. webmaster@sang-skriver.dk / finnvs@gmail.com")
    </p>
</div>