<h1>@Html.TitleForPage(T("Nyt Password Afsendt"))</h1>

<div>
    <p>
        @T("Check venligst din inbox, og log ind for at ændre det midlertidige password - se under menuen 'Bruger'")
    </p>
</div>