<h1>@Html.TitleForPage(T("Nyt Password - email findes ikke"))</h1>

<div>
    <p>
        @T("Check venligst at den angivne emailadresse er korrekt, og at den findes i systemet i forvejen - kontakt evt. webmaster@sang-skriver.dk / finnvs@gmail.com")
    </p>
</div>